# ENV files
.env

# Virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd



# IDE files
.idea/
.vscode/

#migrations
/user/migrations/
user/migrations/
migrations

# Pycache
__pycache__/


# SQLite DB
db.sqlite3